<BODY bgcolor="#ccffcc">
      <form method="POST" action="">
      <label for="App">Choose app to fetch data:</label> 
      <select id="cars">
 <option value="kp">kp</option>
 <option value="kp">kp</option>
 <option value="kp">kp</option>
 <option value="wells">wells</option>
</select>
	<H1>Update new details here </H1> <br>
         App_Name <input type="text" name="name">
         <br>
         user_name <input type="text" name="user_name">
         <br>
         password <input type="text" name="password">
         <br>
         <input type="submit">
         </form>
